.card {
  width: 123px;
  height:174px;
  margin: -138px 0 0 0;
}
.complete {
  width: 123px;
  height:174px;
  margin-top: 20px;
  margin-right: 55px;
}
.oneofdeck{
  margin-top: 20px;
  margin-left:-45px;
}
.oneofdeckcard{
  margin: 20px 0 0 -123px;
}
.deck {
  width: 123px;
  height:auto;
  margin-top: 20px;
  margin-left:30px;
}
.completecard{
  position: absolute;
}
